<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Adam BrokerService"
           Manufacturer="Adam"
           Version="$(var.Version)"
           UpgradeCode="b1c2d3e4-f5a6-7b8c-9d0e-1f2a3b4c5d6e"
           Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="BrokerServiceFeature" Title="Adam BrokerService" Level="1">
      <ComponentGroupRef Id="PublishedFiles" />
    </Feature>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Adam\BrokerService" />
    </StandardDirectory>
  </Package>

  <Fragment>
    <ComponentGroup Id="PublishedFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.PublishDir)\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
