<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Adam BrokerService"
           Manufacturer="Adam"
           Version="$(var.Version)"
           UpgradeCode="50c8ec15-1d03-4a5f-ac11-690f50a61b53"
           Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="BrokerServiceFeature" Title="Adam BrokerService" Level="1">
      <ComponentGroupRef Id="PublishedFiles" />
    </Feature>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Adam\BrokerService" />
    </StandardDirectory>
  </Package>


</Wix>
