<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="Adam CatalogBrowser"
      Manufacturer="Adam"
      Version="$(var.Version)"
      UpgradeCode="32d7a684-0585-49fd-981a-86adca1e9e8a"
      Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="Adam CatalogBrowser" Level="1">
      <ComponentGroupRef Id="PublishedFiles" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="ManufacturerDir" Name="Adam">
        <Directory Id="INSTALLDIR" Name="CatalogBrowser" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="CommonDesktopFolder" />

    <ComponentGroup Id="PublishedFiles" Directory="INSTALLDIR">
      <Files Include="$(var.PublishDir)\**" />
    </ComponentGroup>

    <Component Id="DesktopShortcut" Directory="CommonDesktopFolder">
      <Shortcut
          Id="DesktopShortcut"
          Name="Adam CatalogBrowser"
          Target="[INSTALLDIR]Adam.CatalogBrowser.exe"
          WorkingDirectory="INSTALLDIR" />
      <RemoveFolder Id="RemoveDesktopFolder" On="uninstall" />
      <RegistryValue Root="HKLM" Key="Software\Adam\CatalogBrowser" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>

  </Package>
</Wix>
